<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.efbiz.product.feature.dao.ProductFeatureCatGrpApplMapper">
  <resultMap id="BaseResultMap" type="org.efbiz.product.feature.model.ProductFeatureCatGrpAppl">
    <id column="PRODUCT_CATEGORY_ID" jdbcType="VARCHAR" property="productCategoryId" />
    <id column="PRODUCT_FEATURE_GROUP_ID" jdbcType="VARCHAR" property="productFeatureGroupId" />
    <id column="FROM_DATE" jdbcType="TIMESTAMP" property="fromDate" />
    <result column="THRU_DATE" jdbcType="TIMESTAMP" property="thruDate" />
    <result column="LAST_UPDATED_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedStamp" />
    <result column="LAST_UPDATED_TX_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedTxStamp" />
    <result column="CREATED_STAMP" jdbcType="TIMESTAMP" property="createdStamp" />
    <result column="CREATED_TX_STAMP" jdbcType="TIMESTAMP" property="createdTxStamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PRODUCT_CATEGORY_ID, PRODUCT_FEATURE_GROUP_ID, FROM_DATE, THRU_DATE, LAST_UPDATED_STAMP, 
    LAST_UPDATED_TX_STAMP, CREATED_STAMP, CREATED_TX_STAMP
  </sql>
  <select id="selectByExample" parameterType="org.efbiz.product.feature.model.ProductFeatureCatGrpApplExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from product_feature_cat_grp_appl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0">
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="org.efbiz.product.feature.model.ProductFeatureCatGrpApplKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_feature_cat_grp_appl
    where PRODUCT_CATEGORY_ID = #{productCategoryId,jdbcType=VARCHAR}
      and PRODUCT_FEATURE_GROUP_ID = #{productFeatureGroupId,jdbcType=VARCHAR}
      and FROM_DATE = #{fromDate,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="org.efbiz.product.feature.model.ProductFeatureCatGrpApplKey">
    delete from product_feature_cat_grp_appl
    where PRODUCT_CATEGORY_ID = #{productCategoryId,jdbcType=VARCHAR}
      and PRODUCT_FEATURE_GROUP_ID = #{productFeatureGroupId,jdbcType=VARCHAR}
      and FROM_DATE = #{fromDate,jdbcType=TIMESTAMP}
  </delete>
  <delete id="deleteByExample" parameterType="org.efbiz.product.feature.model.ProductFeatureCatGrpApplExample">
    delete from product_feature_cat_grp_appl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.efbiz.product.feature.model.ProductFeatureCatGrpAppl">
    insert into product_feature_cat_grp_appl (PRODUCT_CATEGORY_ID, PRODUCT_FEATURE_GROUP_ID, 
      FROM_DATE, THRU_DATE, LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, CREATED_STAMP, 
      CREATED_TX_STAMP)
    values (#{productCategoryId,jdbcType=VARCHAR}, #{productFeatureGroupId,jdbcType=VARCHAR}, 
      #{fromDate,jdbcType=TIMESTAMP}, #{thruDate,jdbcType=TIMESTAMP}, NOW(), NOW(), NOW(), 
      NOW())
  </insert>
  <insert id="insertSelective" parameterType="org.efbiz.product.feature.model.ProductFeatureCatGrpAppl">
    insert into product_feature_cat_grp_appl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productCategoryId != null">
        PRODUCT_CATEGORY_ID,
      </if>
      <if test="productFeatureGroupId != null">
        PRODUCT_FEATURE_GROUP_ID,
      </if>
      <if test="fromDate != null">
        FROM_DATE,
      </if>
      <if test="thruDate != null">
        THRU_DATE,
      </if>
      LAST_UPDATED_STAMP,
      LAST_UPDATED_TX_STAMP,
      CREATED_STAMP,
      CREATED_TX_STAMP,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productCategoryId != null">
        #{productCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="productFeatureGroupId != null">
        #{productFeatureGroupId,jdbcType=VARCHAR},
      </if>
      <if test="fromDate != null">
        #{fromDate,jdbcType=TIMESTAMP},
      </if>
      <if test="thruDate != null">
        #{thruDate,jdbcType=TIMESTAMP},
      </if>
      NOW(),
      NOW(),
      NOW(),
      NOW(),
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.efbiz.product.feature.model.ProductFeatureCatGrpApplExample" resultType="java.lang.Long">
    select count(*) from product_feature_cat_grp_appl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product_feature_cat_grp_appl
    <set>
      <if test="record.productCategoryId != null">
        PRODUCT_CATEGORY_ID = #{record.productCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.productFeatureGroupId != null">
        PRODUCT_FEATURE_GROUP_ID = #{record.productFeatureGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.fromDate != null">
        FROM_DATE = #{record.fromDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.thruDate != null">
        THRU_DATE = #{record.thruDate,jdbcType=TIMESTAMP},
      </if>
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product_feature_cat_grp_appl
    set PRODUCT_CATEGORY_ID = #{record.productCategoryId,jdbcType=VARCHAR},
      PRODUCT_FEATURE_GROUP_ID = #{record.productFeatureGroupId,jdbcType=VARCHAR},
      FROM_DATE = #{record.fromDate,jdbcType=TIMESTAMP},
      THRU_DATE = #{record.thruDate,jdbcType=TIMESTAMP},
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.efbiz.product.feature.model.ProductFeatureCatGrpAppl">
    update product_feature_cat_grp_appl
    <set>
      <if test="thruDate != null">
        THRU_DATE = #{thruDate,jdbcType=TIMESTAMP},
      </if>
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    </set>
    where PRODUCT_CATEGORY_ID = #{productCategoryId,jdbcType=VARCHAR}
      and PRODUCT_FEATURE_GROUP_ID = #{productFeatureGroupId,jdbcType=VARCHAR}
      and FROM_DATE = #{fromDate,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.efbiz.product.feature.model.ProductFeatureCatGrpAppl">
    update product_feature_cat_grp_appl
    set THRU_DATE = #{thruDate,jdbcType=TIMESTAMP},
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    where PRODUCT_CATEGORY_ID = #{productCategoryId,jdbcType=VARCHAR}
      and PRODUCT_FEATURE_GROUP_ID = #{productFeatureGroupId,jdbcType=VARCHAR}
      and FROM_DATE = #{fromDate,jdbcType=TIMESTAMP}
  </update>
</mapper>