<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.efbiz.product.cost.dao.ProductCostComponentCalcMapper">
  <resultMap id="BaseResultMap" type="org.efbiz.product.cost.model.ProductCostComponentCalc">
    <id column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <id column="COST_COMPONENT_TYPE_ID" jdbcType="VARCHAR" property="costComponentTypeId" />
    <id column="FROM_DATE" jdbcType="TIMESTAMP" property="fromDate" />
    <result column="COST_COMPONENT_CALC_ID" jdbcType="VARCHAR" property="costComponentCalcId" />
    <result column="SEQUENCE_NUM" jdbcType="DECIMAL" property="sequenceNum" />
    <result column="THRU_DATE" jdbcType="TIMESTAMP" property="thruDate" />
    <result column="LAST_UPDATED_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedStamp" />
    <result column="LAST_UPDATED_TX_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedTxStamp" />
    <result column="CREATED_STAMP" jdbcType="TIMESTAMP" property="createdStamp" />
    <result column="CREATED_TX_STAMP" jdbcType="TIMESTAMP" property="createdTxStamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PRODUCT_ID, COST_COMPONENT_TYPE_ID, FROM_DATE, COST_COMPONENT_CALC_ID, SEQUENCE_NUM, 
    THRU_DATE, LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, CREATED_STAMP, CREATED_TX_STAMP
  </sql>
  <select id="selectByExample" parameterType="org.efbiz.product.cost.model.ProductCostComponentCalcExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from product_cost_component_calc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0">
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="org.efbiz.product.cost.model.ProductCostComponentCalcKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_cost_component_calc
    where PRODUCT_ID = #{productId,jdbcType=VARCHAR}
      and COST_COMPONENT_TYPE_ID = #{costComponentTypeId,jdbcType=VARCHAR}
      and FROM_DATE = #{fromDate,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="org.efbiz.product.cost.model.ProductCostComponentCalcKey">
    delete from product_cost_component_calc
    where PRODUCT_ID = #{productId,jdbcType=VARCHAR}
      and COST_COMPONENT_TYPE_ID = #{costComponentTypeId,jdbcType=VARCHAR}
      and FROM_DATE = #{fromDate,jdbcType=TIMESTAMP}
  </delete>
  <delete id="deleteByExample" parameterType="org.efbiz.product.cost.model.ProductCostComponentCalcExample">
    delete from product_cost_component_calc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.efbiz.product.cost.model.ProductCostComponentCalc">
    insert into product_cost_component_calc (PRODUCT_ID, COST_COMPONENT_TYPE_ID, FROM_DATE, 
      COST_COMPONENT_CALC_ID, SEQUENCE_NUM, THRU_DATE, 
      LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, CREATED_STAMP, CREATED_TX_STAMP)
    values (#{productId,jdbcType=VARCHAR}, #{costComponentTypeId,jdbcType=VARCHAR}, #{fromDate,jdbcType=TIMESTAMP}, 
      #{costComponentCalcId,jdbcType=VARCHAR}, #{sequenceNum,jdbcType=DECIMAL}, #{thruDate,jdbcType=TIMESTAMP}, 
      NOW(), NOW(), NOW(), NOW())
  </insert>
  <insert id="insertSelective" parameterType="org.efbiz.product.cost.model.ProductCostComponentCalc">
    insert into product_cost_component_calc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="costComponentTypeId != null">
        COST_COMPONENT_TYPE_ID,
      </if>
      <if test="fromDate != null">
        FROM_DATE,
      </if>
      <if test="costComponentCalcId != null">
        COST_COMPONENT_CALC_ID,
      </if>
      <if test="sequenceNum != null">
        SEQUENCE_NUM,
      </if>
      <if test="thruDate != null">
        THRU_DATE,
      </if>
      LAST_UPDATED_STAMP,
      LAST_UPDATED_TX_STAMP,
      CREATED_STAMP,
      CREATED_TX_STAMP,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="costComponentTypeId != null">
        #{costComponentTypeId,jdbcType=VARCHAR},
      </if>
      <if test="fromDate != null">
        #{fromDate,jdbcType=TIMESTAMP},
      </if>
      <if test="costComponentCalcId != null">
        #{costComponentCalcId,jdbcType=VARCHAR},
      </if>
      <if test="sequenceNum != null">
        #{sequenceNum,jdbcType=DECIMAL},
      </if>
      <if test="thruDate != null">
        #{thruDate,jdbcType=TIMESTAMP},
      </if>
      NOW(),
      NOW(),
      NOW(),
      NOW(),
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.efbiz.product.cost.model.ProductCostComponentCalcExample" resultType="java.lang.Long">
    select count(*) from product_cost_component_calc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product_cost_component_calc
    <set>
      <if test="record.productId != null">
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.costComponentTypeId != null">
        COST_COMPONENT_TYPE_ID = #{record.costComponentTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.fromDate != null">
        FROM_DATE = #{record.fromDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.costComponentCalcId != null">
        COST_COMPONENT_CALC_ID = #{record.costComponentCalcId,jdbcType=VARCHAR},
      </if>
      <if test="record.sequenceNum != null">
        SEQUENCE_NUM = #{record.sequenceNum,jdbcType=DECIMAL},
      </if>
      <if test="record.thruDate != null">
        THRU_DATE = #{record.thruDate,jdbcType=TIMESTAMP},
      </if>
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product_cost_component_calc
    set PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      COST_COMPONENT_TYPE_ID = #{record.costComponentTypeId,jdbcType=VARCHAR},
      FROM_DATE = #{record.fromDate,jdbcType=TIMESTAMP},
      COST_COMPONENT_CALC_ID = #{record.costComponentCalcId,jdbcType=VARCHAR},
      SEQUENCE_NUM = #{record.sequenceNum,jdbcType=DECIMAL},
      THRU_DATE = #{record.thruDate,jdbcType=TIMESTAMP},
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.efbiz.product.cost.model.ProductCostComponentCalc">
    update product_cost_component_calc
    <set>
      <if test="costComponentCalcId != null">
        COST_COMPONENT_CALC_ID = #{costComponentCalcId,jdbcType=VARCHAR},
      </if>
      <if test="sequenceNum != null">
        SEQUENCE_NUM = #{sequenceNum,jdbcType=DECIMAL},
      </if>
      <if test="thruDate != null">
        THRU_DATE = #{thruDate,jdbcType=TIMESTAMP},
      </if>
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    </set>
    where PRODUCT_ID = #{productId,jdbcType=VARCHAR}
      and COST_COMPONENT_TYPE_ID = #{costComponentTypeId,jdbcType=VARCHAR}
      and FROM_DATE = #{fromDate,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.efbiz.product.cost.model.ProductCostComponentCalc">
    update product_cost_component_calc
    set COST_COMPONENT_CALC_ID = #{costComponentCalcId,jdbcType=VARCHAR},
      SEQUENCE_NUM = #{sequenceNum,jdbcType=DECIMAL},
      THRU_DATE = #{thruDate,jdbcType=TIMESTAMP},
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    where PRODUCT_ID = #{productId,jdbcType=VARCHAR}
      and COST_COMPONENT_TYPE_ID = #{costComponentTypeId,jdbcType=VARCHAR}
      and FROM_DATE = #{fromDate,jdbcType=TIMESTAMP}
  </update>
</mapper>