<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.efbiz.product.promo.dao.ProductPromoActionMapper">
  <resultMap id="BaseResultMap" type="org.efbiz.product.promo.model.ProductPromoAction">
    <id column="PRODUCT_PROMO_ID" jdbcType="VARCHAR" property="productPromoId" />
    <id column="PRODUCT_PROMO_RULE_ID" jdbcType="VARCHAR" property="productPromoRuleId" />
    <id column="PRODUCT_PROMO_ACTION_SEQ_ID" jdbcType="VARCHAR" property="productPromoActionSeqId" />
    <result column="PRODUCT_PROMO_ACTION_ENUM_ID" jdbcType="VARCHAR" property="productPromoActionEnumId" />
    <result column="ORDER_ADJUSTMENT_TYPE_ID" jdbcType="VARCHAR" property="orderAdjustmentTypeId" />
    <result column="SERVICE_NAME" jdbcType="VARCHAR" property="serviceName" />
    <result column="QUANTITY" jdbcType="DECIMAL" property="quantity" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="PARTY_ID" jdbcType="VARCHAR" property="partyId" />
    <result column="USE_CART_QUANTITY" jdbcType="CHAR" property="useCartQuantity" />
    <result column="LAST_UPDATED_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedStamp" />
    <result column="LAST_UPDATED_TX_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedTxStamp" />
    <result column="CREATED_STAMP" jdbcType="TIMESTAMP" property="createdStamp" />
    <result column="CREATED_TX_STAMP" jdbcType="TIMESTAMP" property="createdTxStamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PRODUCT_PROMO_ID, PRODUCT_PROMO_RULE_ID, PRODUCT_PROMO_ACTION_SEQ_ID, PRODUCT_PROMO_ACTION_ENUM_ID, 
    ORDER_ADJUSTMENT_TYPE_ID, SERVICE_NAME, QUANTITY, AMOUNT, PRODUCT_ID, PARTY_ID, USE_CART_QUANTITY, 
    LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, CREATED_STAMP, CREATED_TX_STAMP
  </sql>
  <select id="selectByExample" parameterType="org.efbiz.product.promo.model.ProductPromoActionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from product_promo_action
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0">
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="org.efbiz.product.promo.model.ProductPromoActionKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_promo_action
    where PRODUCT_PROMO_ID = #{productPromoId,jdbcType=VARCHAR}
      and PRODUCT_PROMO_RULE_ID = #{productPromoRuleId,jdbcType=VARCHAR}
      and PRODUCT_PROMO_ACTION_SEQ_ID = #{productPromoActionSeqId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="org.efbiz.product.promo.model.ProductPromoActionKey">
    delete from product_promo_action
    where PRODUCT_PROMO_ID = #{productPromoId,jdbcType=VARCHAR}
      and PRODUCT_PROMO_RULE_ID = #{productPromoRuleId,jdbcType=VARCHAR}
      and PRODUCT_PROMO_ACTION_SEQ_ID = #{productPromoActionSeqId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.efbiz.product.promo.model.ProductPromoActionExample">
    delete from product_promo_action
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.efbiz.product.promo.model.ProductPromoAction">
    insert into product_promo_action (PRODUCT_PROMO_ID, PRODUCT_PROMO_RULE_ID, 
      PRODUCT_PROMO_ACTION_SEQ_ID, PRODUCT_PROMO_ACTION_ENUM_ID, 
      ORDER_ADJUSTMENT_TYPE_ID, SERVICE_NAME, QUANTITY, 
      AMOUNT, PRODUCT_ID, PARTY_ID, 
      USE_CART_QUANTITY, LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, CREATED_STAMP, CREATED_TX_STAMP)
    values (#{productPromoId,jdbcType=VARCHAR}, #{productPromoRuleId,jdbcType=VARCHAR}, 
      #{productPromoActionSeqId,jdbcType=VARCHAR}, #{productPromoActionEnumId,jdbcType=VARCHAR}, 
      #{orderAdjustmentTypeId,jdbcType=VARCHAR}, #{serviceName,jdbcType=VARCHAR}, #{quantity,jdbcType=DECIMAL}, 
      #{amount,jdbcType=DECIMAL}, #{productId,jdbcType=VARCHAR}, #{partyId,jdbcType=VARCHAR}, 
      #{useCartQuantity,jdbcType=CHAR}, NOW(), NOW(), NOW(), NOW())
  </insert>
  <insert id="insertSelective" parameterType="org.efbiz.product.promo.model.ProductPromoAction">
    insert into product_promo_action
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productPromoId != null">
        PRODUCT_PROMO_ID,
      </if>
      <if test="productPromoRuleId != null">
        PRODUCT_PROMO_RULE_ID,
      </if>
      <if test="productPromoActionSeqId != null">
        PRODUCT_PROMO_ACTION_SEQ_ID,
      </if>
      <if test="productPromoActionEnumId != null">
        PRODUCT_PROMO_ACTION_ENUM_ID,
      </if>
      <if test="orderAdjustmentTypeId != null">
        ORDER_ADJUSTMENT_TYPE_ID,
      </if>
      <if test="serviceName != null">
        SERVICE_NAME,
      </if>
      <if test="quantity != null">
        QUANTITY,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="partyId != null">
        PARTY_ID,
      </if>
      <if test="useCartQuantity != null">
        USE_CART_QUANTITY,
      </if>
      LAST_UPDATED_STAMP,
      LAST_UPDATED_TX_STAMP,
      CREATED_STAMP,
      CREATED_TX_STAMP,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productPromoId != null">
        #{productPromoId,jdbcType=VARCHAR},
      </if>
      <if test="productPromoRuleId != null">
        #{productPromoRuleId,jdbcType=VARCHAR},
      </if>
      <if test="productPromoActionSeqId != null">
        #{productPromoActionSeqId,jdbcType=VARCHAR},
      </if>
      <if test="productPromoActionEnumId != null">
        #{productPromoActionEnumId,jdbcType=VARCHAR},
      </if>
      <if test="orderAdjustmentTypeId != null">
        #{orderAdjustmentTypeId,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null">
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=VARCHAR},
      </if>
      <if test="useCartQuantity != null">
        #{useCartQuantity,jdbcType=CHAR},
      </if>
      NOW(),
      NOW(),
      NOW(),
      NOW(),
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.efbiz.product.promo.model.ProductPromoActionExample" resultType="java.lang.Long">
    select count(*) from product_promo_action
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product_promo_action
    <set>
      <if test="record.productPromoId != null">
        PRODUCT_PROMO_ID = #{record.productPromoId,jdbcType=VARCHAR},
      </if>
      <if test="record.productPromoRuleId != null">
        PRODUCT_PROMO_RULE_ID = #{record.productPromoRuleId,jdbcType=VARCHAR},
      </if>
      <if test="record.productPromoActionSeqId != null">
        PRODUCT_PROMO_ACTION_SEQ_ID = #{record.productPromoActionSeqId,jdbcType=VARCHAR},
      </if>
      <if test="record.productPromoActionEnumId != null">
        PRODUCT_PROMO_ACTION_ENUM_ID = #{record.productPromoActionEnumId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderAdjustmentTypeId != null">
        ORDER_ADJUSTMENT_TYPE_ID = #{record.orderAdjustmentTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceName != null">
        SERVICE_NAME = #{record.serviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null">
        QUANTITY = #{record.quantity,jdbcType=DECIMAL},
      </if>
      <if test="record.amount != null">
        AMOUNT = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.productId != null">
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.partyId != null">
        PARTY_ID = #{record.partyId,jdbcType=VARCHAR},
      </if>
      <if test="record.useCartQuantity != null">
        USE_CART_QUANTITY = #{record.useCartQuantity,jdbcType=CHAR},
      </if>
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product_promo_action
    set PRODUCT_PROMO_ID = #{record.productPromoId,jdbcType=VARCHAR},
      PRODUCT_PROMO_RULE_ID = #{record.productPromoRuleId,jdbcType=VARCHAR},
      PRODUCT_PROMO_ACTION_SEQ_ID = #{record.productPromoActionSeqId,jdbcType=VARCHAR},
      PRODUCT_PROMO_ACTION_ENUM_ID = #{record.productPromoActionEnumId,jdbcType=VARCHAR},
      ORDER_ADJUSTMENT_TYPE_ID = #{record.orderAdjustmentTypeId,jdbcType=VARCHAR},
      SERVICE_NAME = #{record.serviceName,jdbcType=VARCHAR},
      QUANTITY = #{record.quantity,jdbcType=DECIMAL},
      AMOUNT = #{record.amount,jdbcType=DECIMAL},
      PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      PARTY_ID = #{record.partyId,jdbcType=VARCHAR},
      USE_CART_QUANTITY = #{record.useCartQuantity,jdbcType=CHAR},
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.efbiz.product.promo.model.ProductPromoAction">
    update product_promo_action
    <set>
      <if test="productPromoActionEnumId != null">
        PRODUCT_PROMO_ACTION_ENUM_ID = #{productPromoActionEnumId,jdbcType=VARCHAR},
      </if>
      <if test="orderAdjustmentTypeId != null">
        ORDER_ADJUSTMENT_TYPE_ID = #{orderAdjustmentTypeId,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null">
        SERVICE_NAME = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        QUANTITY = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="productId != null">
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="partyId != null">
        PARTY_ID = #{partyId,jdbcType=VARCHAR},
      </if>
      <if test="useCartQuantity != null">
        USE_CART_QUANTITY = #{useCartQuantity,jdbcType=CHAR},
      </if>
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    </set>
    where PRODUCT_PROMO_ID = #{productPromoId,jdbcType=VARCHAR}
      and PRODUCT_PROMO_RULE_ID = #{productPromoRuleId,jdbcType=VARCHAR}
      and PRODUCT_PROMO_ACTION_SEQ_ID = #{productPromoActionSeqId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.efbiz.product.promo.model.ProductPromoAction">
    update product_promo_action
    set PRODUCT_PROMO_ACTION_ENUM_ID = #{productPromoActionEnumId,jdbcType=VARCHAR},
      ORDER_ADJUSTMENT_TYPE_ID = #{orderAdjustmentTypeId,jdbcType=VARCHAR},
      SERVICE_NAME = #{serviceName,jdbcType=VARCHAR},
      QUANTITY = #{quantity,jdbcType=DECIMAL},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      PARTY_ID = #{partyId,jdbcType=VARCHAR},
      USE_CART_QUANTITY = #{useCartQuantity,jdbcType=CHAR},
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    where PRODUCT_PROMO_ID = #{productPromoId,jdbcType=VARCHAR}
      and PRODUCT_PROMO_RULE_ID = #{productPromoRuleId,jdbcType=VARCHAR}
      and PRODUCT_PROMO_ACTION_SEQ_ID = #{productPromoActionSeqId,jdbcType=VARCHAR}
  </update>
</mapper>