<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.efbiz.product.store.dao.ProductStoreSurveyApplMapper">
  <resultMap id="BaseResultMap" type="org.efbiz.product.store.model.ProductStoreSurveyAppl">
    <id column="PRODUCT_STORE_SURVEY_ID" jdbcType="VARCHAR" property="productStoreSurveyId" />
    <result column="PRODUCT_STORE_ID" jdbcType="VARCHAR" property="productStoreId" />
    <result column="SURVEY_APPL_TYPE_ID" jdbcType="VARCHAR" property="surveyApplTypeId" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
    <result column="SURVEY_ID" jdbcType="VARCHAR" property="surveyId" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="PRODUCT_CATEGORY_ID" jdbcType="VARCHAR" property="productCategoryId" />
    <result column="FROM_DATE" jdbcType="TIMESTAMP" property="fromDate" />
    <result column="THRU_DATE" jdbcType="TIMESTAMP" property="thruDate" />
    <result column="SURVEY_TEMPLATE" jdbcType="VARCHAR" property="surveyTemplate" />
    <result column="RESULT_TEMPLATE" jdbcType="VARCHAR" property="resultTemplate" />
    <result column="SEQUENCE_NUM" jdbcType="DECIMAL" property="sequenceNum" />
    <result column="LAST_UPDATED_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedStamp" />
    <result column="LAST_UPDATED_TX_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedTxStamp" />
    <result column="CREATED_STAMP" jdbcType="TIMESTAMP" property="createdStamp" />
    <result column="CREATED_TX_STAMP" jdbcType="TIMESTAMP" property="createdTxStamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PRODUCT_STORE_SURVEY_ID, PRODUCT_STORE_ID, SURVEY_APPL_TYPE_ID, GROUP_NAME, SURVEY_ID, 
    PRODUCT_ID, PRODUCT_CATEGORY_ID, FROM_DATE, THRU_DATE, SURVEY_TEMPLATE, RESULT_TEMPLATE, 
    SEQUENCE_NUM, LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, CREATED_STAMP, CREATED_TX_STAMP
  </sql>
  <select id="selectByExample" parameterType="org.efbiz.product.store.model.ProductStoreSurveyApplExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from product_store_survey_appl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0">
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_store_survey_appl
    where PRODUCT_STORE_SURVEY_ID = #{productStoreSurveyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from product_store_survey_appl
    where PRODUCT_STORE_SURVEY_ID = #{productStoreSurveyId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.efbiz.product.store.model.ProductStoreSurveyApplExample">
    delete from product_store_survey_appl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.efbiz.product.store.model.ProductStoreSurveyAppl">
    insert into product_store_survey_appl (PRODUCT_STORE_SURVEY_ID, PRODUCT_STORE_ID, 
      SURVEY_APPL_TYPE_ID, GROUP_NAME, SURVEY_ID, 
      PRODUCT_ID, PRODUCT_CATEGORY_ID, FROM_DATE, 
      THRU_DATE, SURVEY_TEMPLATE, RESULT_TEMPLATE, 
      SEQUENCE_NUM, LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, CREATED_STAMP, CREATED_TX_STAMP)
    values (#{productStoreSurveyId,jdbcType=VARCHAR}, #{productStoreId,jdbcType=VARCHAR}, 
      #{surveyApplTypeId,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, #{surveyId,jdbcType=VARCHAR}, 
      #{productId,jdbcType=VARCHAR}, #{productCategoryId,jdbcType=VARCHAR}, #{fromDate,jdbcType=TIMESTAMP}, 
      #{thruDate,jdbcType=TIMESTAMP}, #{surveyTemplate,jdbcType=VARCHAR}, #{resultTemplate,jdbcType=VARCHAR}, 
      #{sequenceNum,jdbcType=DECIMAL}, NOW(), NOW(), NOW(), NOW())
  </insert>
  <insert id="insertSelective" parameterType="org.efbiz.product.store.model.ProductStoreSurveyAppl">
    insert into product_store_survey_appl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productStoreSurveyId != null">
        PRODUCT_STORE_SURVEY_ID,
      </if>
      <if test="productStoreId != null">
        PRODUCT_STORE_ID,
      </if>
      <if test="surveyApplTypeId != null">
        SURVEY_APPL_TYPE_ID,
      </if>
      <if test="groupName != null">
        GROUP_NAME,
      </if>
      <if test="surveyId != null">
        SURVEY_ID,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="productCategoryId != null">
        PRODUCT_CATEGORY_ID,
      </if>
      <if test="fromDate != null">
        FROM_DATE,
      </if>
      <if test="thruDate != null">
        THRU_DATE,
      </if>
      <if test="surveyTemplate != null">
        SURVEY_TEMPLATE,
      </if>
      <if test="resultTemplate != null">
        RESULT_TEMPLATE,
      </if>
      <if test="sequenceNum != null">
        SEQUENCE_NUM,
      </if>
      LAST_UPDATED_STAMP,
      LAST_UPDATED_TX_STAMP,
      CREATED_STAMP,
      CREATED_TX_STAMP,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productStoreSurveyId != null">
        #{productStoreSurveyId,jdbcType=VARCHAR},
      </if>
      <if test="productStoreId != null">
        #{productStoreId,jdbcType=VARCHAR},
      </if>
      <if test="surveyApplTypeId != null">
        #{surveyApplTypeId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="surveyId != null">
        #{surveyId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryId != null">
        #{productCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="fromDate != null">
        #{fromDate,jdbcType=TIMESTAMP},
      </if>
      <if test="thruDate != null">
        #{thruDate,jdbcType=TIMESTAMP},
      </if>
      <if test="surveyTemplate != null">
        #{surveyTemplate,jdbcType=VARCHAR},
      </if>
      <if test="resultTemplate != null">
        #{resultTemplate,jdbcType=VARCHAR},
      </if>
      <if test="sequenceNum != null">
        #{sequenceNum,jdbcType=DECIMAL},
      </if>
      NOW(),
      NOW(),
      NOW(),
      NOW(),
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.efbiz.product.store.model.ProductStoreSurveyApplExample" resultType="java.lang.Long">
    select count(*) from product_store_survey_appl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product_store_survey_appl
    <set>
      <if test="record.productStoreSurveyId != null">
        PRODUCT_STORE_SURVEY_ID = #{record.productStoreSurveyId,jdbcType=VARCHAR},
      </if>
      <if test="record.productStoreId != null">
        PRODUCT_STORE_ID = #{record.productStoreId,jdbcType=VARCHAR},
      </if>
      <if test="record.surveyApplTypeId != null">
        SURVEY_APPL_TYPE_ID = #{record.surveyApplTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.groupName != null">
        GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.surveyId != null">
        SURVEY_ID = #{record.surveyId,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null">
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.productCategoryId != null">
        PRODUCT_CATEGORY_ID = #{record.productCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.fromDate != null">
        FROM_DATE = #{record.fromDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.thruDate != null">
        THRU_DATE = #{record.thruDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.surveyTemplate != null">
        SURVEY_TEMPLATE = #{record.surveyTemplate,jdbcType=VARCHAR},
      </if>
      <if test="record.resultTemplate != null">
        RESULT_TEMPLATE = #{record.resultTemplate,jdbcType=VARCHAR},
      </if>
      <if test="record.sequenceNum != null">
        SEQUENCE_NUM = #{record.sequenceNum,jdbcType=DECIMAL},
      </if>
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product_store_survey_appl
    set PRODUCT_STORE_SURVEY_ID = #{record.productStoreSurveyId,jdbcType=VARCHAR},
      PRODUCT_STORE_ID = #{record.productStoreId,jdbcType=VARCHAR},
      SURVEY_APPL_TYPE_ID = #{record.surveyApplTypeId,jdbcType=VARCHAR},
      GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      SURVEY_ID = #{record.surveyId,jdbcType=VARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      PRODUCT_CATEGORY_ID = #{record.productCategoryId,jdbcType=VARCHAR},
      FROM_DATE = #{record.fromDate,jdbcType=TIMESTAMP},
      THRU_DATE = #{record.thruDate,jdbcType=TIMESTAMP},
      SURVEY_TEMPLATE = #{record.surveyTemplate,jdbcType=VARCHAR},
      RESULT_TEMPLATE = #{record.resultTemplate,jdbcType=VARCHAR},
      SEQUENCE_NUM = #{record.sequenceNum,jdbcType=DECIMAL},
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.efbiz.product.store.model.ProductStoreSurveyAppl">
    update product_store_survey_appl
    <set>
      <if test="productStoreId != null">
        PRODUCT_STORE_ID = #{productStoreId,jdbcType=VARCHAR},
      </if>
      <if test="surveyApplTypeId != null">
        SURVEY_APPL_TYPE_ID = #{surveyApplTypeId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="surveyId != null">
        SURVEY_ID = #{surveyId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryId != null">
        PRODUCT_CATEGORY_ID = #{productCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="fromDate != null">
        FROM_DATE = #{fromDate,jdbcType=TIMESTAMP},
      </if>
      <if test="thruDate != null">
        THRU_DATE = #{thruDate,jdbcType=TIMESTAMP},
      </if>
      <if test="surveyTemplate != null">
        SURVEY_TEMPLATE = #{surveyTemplate,jdbcType=VARCHAR},
      </if>
      <if test="resultTemplate != null">
        RESULT_TEMPLATE = #{resultTemplate,jdbcType=VARCHAR},
      </if>
      <if test="sequenceNum != null">
        SEQUENCE_NUM = #{sequenceNum,jdbcType=DECIMAL},
      </if>
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    </set>
    where PRODUCT_STORE_SURVEY_ID = #{productStoreSurveyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.efbiz.product.store.model.ProductStoreSurveyAppl">
    update product_store_survey_appl
    set PRODUCT_STORE_ID = #{productStoreId,jdbcType=VARCHAR},
      SURVEY_APPL_TYPE_ID = #{surveyApplTypeId,jdbcType=VARCHAR},
      GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      SURVEY_ID = #{surveyId,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      PRODUCT_CATEGORY_ID = #{productCategoryId,jdbcType=VARCHAR},
      FROM_DATE = #{fromDate,jdbcType=TIMESTAMP},
      THRU_DATE = #{thruDate,jdbcType=TIMESTAMP},
      SURVEY_TEMPLATE = #{surveyTemplate,jdbcType=VARCHAR},
      RESULT_TEMPLATE = #{resultTemplate,jdbcType=VARCHAR},
      SEQUENCE_NUM = #{sequenceNum,jdbcType=DECIMAL},
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    where PRODUCT_STORE_SURVEY_ID = #{productStoreSurveyId,jdbcType=VARCHAR}
  </update>
</mapper>