<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.efbiz.product.store.dao.ProductStorePaymentSettingMapper">
  <resultMap id="BaseResultMap" type="org.efbiz.product.store.model.ProductStorePaymentSetting">
    <id column="PRODUCT_STORE_ID" jdbcType="VARCHAR" property="productStoreId" />
    <id column="PAYMENT_METHOD_TYPE_ID" jdbcType="VARCHAR" property="paymentMethodTypeId" />
    <id column="PAYMENT_SERVICE_TYPE_ENUM_ID" jdbcType="VARCHAR" property="paymentServiceTypeEnumId" />
    <result column="PAYMENT_SERVICE" jdbcType="VARCHAR" property="paymentService" />
    <result column="PAYMENT_CUSTOM_METHOD_ID" jdbcType="VARCHAR" property="paymentCustomMethodId" />
    <result column="PAYMENT_GATEWAY_CONFIG_ID" jdbcType="VARCHAR" property="paymentGatewayConfigId" />
    <result column="PAYMENT_PROPERTIES_PATH" jdbcType="VARCHAR" property="paymentPropertiesPath" />
    <result column="APPLY_TO_ALL_PRODUCTS" jdbcType="CHAR" property="applyToAllProducts" />
    <result column="LAST_UPDATED_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedStamp" />
    <result column="LAST_UPDATED_TX_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedTxStamp" />
    <result column="CREATED_STAMP" jdbcType="TIMESTAMP" property="createdStamp" />
    <result column="CREATED_TX_STAMP" jdbcType="TIMESTAMP" property="createdTxStamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PRODUCT_STORE_ID, PAYMENT_METHOD_TYPE_ID, PAYMENT_SERVICE_TYPE_ENUM_ID, PAYMENT_SERVICE, 
    PAYMENT_CUSTOM_METHOD_ID, PAYMENT_GATEWAY_CONFIG_ID, PAYMENT_PROPERTIES_PATH, APPLY_TO_ALL_PRODUCTS, 
    LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, CREATED_STAMP, CREATED_TX_STAMP
  </sql>
  <select id="selectByExample" parameterType="org.efbiz.product.store.model.ProductStorePaymentSettingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from product_store_payment_setting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0">
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="org.efbiz.product.store.model.ProductStorePaymentSettingKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_store_payment_setting
    where PRODUCT_STORE_ID = #{productStoreId,jdbcType=VARCHAR}
      and PAYMENT_METHOD_TYPE_ID = #{paymentMethodTypeId,jdbcType=VARCHAR}
      and PAYMENT_SERVICE_TYPE_ENUM_ID = #{paymentServiceTypeEnumId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="org.efbiz.product.store.model.ProductStorePaymentSettingKey">
    delete from product_store_payment_setting
    where PRODUCT_STORE_ID = #{productStoreId,jdbcType=VARCHAR}
      and PAYMENT_METHOD_TYPE_ID = #{paymentMethodTypeId,jdbcType=VARCHAR}
      and PAYMENT_SERVICE_TYPE_ENUM_ID = #{paymentServiceTypeEnumId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.efbiz.product.store.model.ProductStorePaymentSettingExample">
    delete from product_store_payment_setting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.efbiz.product.store.model.ProductStorePaymentSetting">
    insert into product_store_payment_setting (PRODUCT_STORE_ID, PAYMENT_METHOD_TYPE_ID, 
      PAYMENT_SERVICE_TYPE_ENUM_ID, PAYMENT_SERVICE, 
      PAYMENT_CUSTOM_METHOD_ID, PAYMENT_GATEWAY_CONFIG_ID, 
      PAYMENT_PROPERTIES_PATH, APPLY_TO_ALL_PRODUCTS, 
      LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, CREATED_STAMP, CREATED_TX_STAMP)
    values (#{productStoreId,jdbcType=VARCHAR}, #{paymentMethodTypeId,jdbcType=VARCHAR}, 
      #{paymentServiceTypeEnumId,jdbcType=VARCHAR}, #{paymentService,jdbcType=VARCHAR}, 
      #{paymentCustomMethodId,jdbcType=VARCHAR}, #{paymentGatewayConfigId,jdbcType=VARCHAR}, 
      #{paymentPropertiesPath,jdbcType=VARCHAR}, #{applyToAllProducts,jdbcType=CHAR}, 
      NOW(), NOW(), NOW(), NOW())
  </insert>
  <insert id="insertSelective" parameterType="org.efbiz.product.store.model.ProductStorePaymentSetting">
    insert into product_store_payment_setting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productStoreId != null">
        PRODUCT_STORE_ID,
      </if>
      <if test="paymentMethodTypeId != null">
        PAYMENT_METHOD_TYPE_ID,
      </if>
      <if test="paymentServiceTypeEnumId != null">
        PAYMENT_SERVICE_TYPE_ENUM_ID,
      </if>
      <if test="paymentService != null">
        PAYMENT_SERVICE,
      </if>
      <if test="paymentCustomMethodId != null">
        PAYMENT_CUSTOM_METHOD_ID,
      </if>
      <if test="paymentGatewayConfigId != null">
        PAYMENT_GATEWAY_CONFIG_ID,
      </if>
      <if test="paymentPropertiesPath != null">
        PAYMENT_PROPERTIES_PATH,
      </if>
      <if test="applyToAllProducts != null">
        APPLY_TO_ALL_PRODUCTS,
      </if>
      LAST_UPDATED_STAMP,
      LAST_UPDATED_TX_STAMP,
      CREATED_STAMP,
      CREATED_TX_STAMP,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productStoreId != null">
        #{productStoreId,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethodTypeId != null">
        #{paymentMethodTypeId,jdbcType=VARCHAR},
      </if>
      <if test="paymentServiceTypeEnumId != null">
        #{paymentServiceTypeEnumId,jdbcType=VARCHAR},
      </if>
      <if test="paymentService != null">
        #{paymentService,jdbcType=VARCHAR},
      </if>
      <if test="paymentCustomMethodId != null">
        #{paymentCustomMethodId,jdbcType=VARCHAR},
      </if>
      <if test="paymentGatewayConfigId != null">
        #{paymentGatewayConfigId,jdbcType=VARCHAR},
      </if>
      <if test="paymentPropertiesPath != null">
        #{paymentPropertiesPath,jdbcType=VARCHAR},
      </if>
      <if test="applyToAllProducts != null">
        #{applyToAllProducts,jdbcType=CHAR},
      </if>
      NOW(),
      NOW(),
      NOW(),
      NOW(),
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.efbiz.product.store.model.ProductStorePaymentSettingExample" resultType="java.lang.Long">
    select count(*) from product_store_payment_setting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product_store_payment_setting
    <set>
      <if test="record.productStoreId != null">
        PRODUCT_STORE_ID = #{record.productStoreId,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentMethodTypeId != null">
        PAYMENT_METHOD_TYPE_ID = #{record.paymentMethodTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentServiceTypeEnumId != null">
        PAYMENT_SERVICE_TYPE_ENUM_ID = #{record.paymentServiceTypeEnumId,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentService != null">
        PAYMENT_SERVICE = #{record.paymentService,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentCustomMethodId != null">
        PAYMENT_CUSTOM_METHOD_ID = #{record.paymentCustomMethodId,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentGatewayConfigId != null">
        PAYMENT_GATEWAY_CONFIG_ID = #{record.paymentGatewayConfigId,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentPropertiesPath != null">
        PAYMENT_PROPERTIES_PATH = #{record.paymentPropertiesPath,jdbcType=VARCHAR},
      </if>
      <if test="record.applyToAllProducts != null">
        APPLY_TO_ALL_PRODUCTS = #{record.applyToAllProducts,jdbcType=CHAR},
      </if>
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product_store_payment_setting
    set PRODUCT_STORE_ID = #{record.productStoreId,jdbcType=VARCHAR},
      PAYMENT_METHOD_TYPE_ID = #{record.paymentMethodTypeId,jdbcType=VARCHAR},
      PAYMENT_SERVICE_TYPE_ENUM_ID = #{record.paymentServiceTypeEnumId,jdbcType=VARCHAR},
      PAYMENT_SERVICE = #{record.paymentService,jdbcType=VARCHAR},
      PAYMENT_CUSTOM_METHOD_ID = #{record.paymentCustomMethodId,jdbcType=VARCHAR},
      PAYMENT_GATEWAY_CONFIG_ID = #{record.paymentGatewayConfigId,jdbcType=VARCHAR},
      PAYMENT_PROPERTIES_PATH = #{record.paymentPropertiesPath,jdbcType=VARCHAR},
      APPLY_TO_ALL_PRODUCTS = #{record.applyToAllProducts,jdbcType=CHAR},
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.efbiz.product.store.model.ProductStorePaymentSetting">
    update product_store_payment_setting
    <set>
      <if test="paymentService != null">
        PAYMENT_SERVICE = #{paymentService,jdbcType=VARCHAR},
      </if>
      <if test="paymentCustomMethodId != null">
        PAYMENT_CUSTOM_METHOD_ID = #{paymentCustomMethodId,jdbcType=VARCHAR},
      </if>
      <if test="paymentGatewayConfigId != null">
        PAYMENT_GATEWAY_CONFIG_ID = #{paymentGatewayConfigId,jdbcType=VARCHAR},
      </if>
      <if test="paymentPropertiesPath != null">
        PAYMENT_PROPERTIES_PATH = #{paymentPropertiesPath,jdbcType=VARCHAR},
      </if>
      <if test="applyToAllProducts != null">
        APPLY_TO_ALL_PRODUCTS = #{applyToAllProducts,jdbcType=CHAR},
      </if>
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    </set>
    where PRODUCT_STORE_ID = #{productStoreId,jdbcType=VARCHAR}
      and PAYMENT_METHOD_TYPE_ID = #{paymentMethodTypeId,jdbcType=VARCHAR}
      and PAYMENT_SERVICE_TYPE_ENUM_ID = #{paymentServiceTypeEnumId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.efbiz.product.store.model.ProductStorePaymentSetting">
    update product_store_payment_setting
    set PAYMENT_SERVICE = #{paymentService,jdbcType=VARCHAR},
      PAYMENT_CUSTOM_METHOD_ID = #{paymentCustomMethodId,jdbcType=VARCHAR},
      PAYMENT_GATEWAY_CONFIG_ID = #{paymentGatewayConfigId,jdbcType=VARCHAR},
      PAYMENT_PROPERTIES_PATH = #{paymentPropertiesPath,jdbcType=VARCHAR},
      APPLY_TO_ALL_PRODUCTS = #{applyToAllProducts,jdbcType=CHAR},
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    where PRODUCT_STORE_ID = #{productStoreId,jdbcType=VARCHAR}
      and PAYMENT_METHOD_TYPE_ID = #{paymentMethodTypeId,jdbcType=VARCHAR}
      and PAYMENT_SERVICE_TYPE_ENUM_ID = #{paymentServiceTypeEnumId,jdbcType=VARCHAR}
  </update>
</mapper>