<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.efbiz.product.inventory.dao.PhysicalInventoryMapper">
  <resultMap id="BaseResultMap" type="org.efbiz.product.inventory.model.PhysicalInventory">
    <id column="PHYSICAL_INVENTORY_ID" jdbcType="VARCHAR" property="physicalInventoryId" />
    <result column="PHYSICAL_INVENTORY_DATE" jdbcType="TIMESTAMP" property="physicalInventoryDate" />
    <result column="PARTY_ID" jdbcType="VARCHAR" property="partyId" />
    <result column="GENERAL_COMMENTS" jdbcType="VARCHAR" property="generalComments" />
    <result column="LAST_UPDATED_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedStamp" />
    <result column="LAST_UPDATED_TX_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedTxStamp" />
    <result column="CREATED_STAMP" jdbcType="TIMESTAMP" property="createdStamp" />
    <result column="CREATED_TX_STAMP" jdbcType="TIMESTAMP" property="createdTxStamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PHYSICAL_INVENTORY_ID, PHYSICAL_INVENTORY_DATE, PARTY_ID, GENERAL_COMMENTS, LAST_UPDATED_STAMP, 
    LAST_UPDATED_TX_STAMP, CREATED_STAMP, CREATED_TX_STAMP
  </sql>
  <select id="selectByExample" parameterType="org.efbiz.product.inventory.model.PhysicalInventoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from physical_inventory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0">
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from physical_inventory
    where PHYSICAL_INVENTORY_ID = #{physicalInventoryId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from physical_inventory
    where PHYSICAL_INVENTORY_ID = #{physicalInventoryId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.efbiz.product.inventory.model.PhysicalInventoryExample">
    delete from physical_inventory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.efbiz.product.inventory.model.PhysicalInventory">
    insert into physical_inventory (PHYSICAL_INVENTORY_ID, PHYSICAL_INVENTORY_DATE, 
      PARTY_ID, GENERAL_COMMENTS, LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, 
      CREATED_STAMP, CREATED_TX_STAMP)
    values (#{physicalInventoryId,jdbcType=VARCHAR}, #{physicalInventoryDate,jdbcType=TIMESTAMP}, 
      #{partyId,jdbcType=VARCHAR}, #{generalComments,jdbcType=VARCHAR}, NOW(), NOW(), 
      NOW(), NOW())
  </insert>
  <insert id="insertSelective" parameterType="org.efbiz.product.inventory.model.PhysicalInventory">
    insert into physical_inventory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="physicalInventoryId != null">
        PHYSICAL_INVENTORY_ID,
      </if>
      <if test="physicalInventoryDate != null">
        PHYSICAL_INVENTORY_DATE,
      </if>
      <if test="partyId != null">
        PARTY_ID,
      </if>
      <if test="generalComments != null">
        GENERAL_COMMENTS,
      </if>
      LAST_UPDATED_STAMP,
      LAST_UPDATED_TX_STAMP,
      CREATED_STAMP,
      CREATED_TX_STAMP,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="physicalInventoryId != null">
        #{physicalInventoryId,jdbcType=VARCHAR},
      </if>
      <if test="physicalInventoryDate != null">
        #{physicalInventoryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=VARCHAR},
      </if>
      <if test="generalComments != null">
        #{generalComments,jdbcType=VARCHAR},
      </if>
      NOW(),
      NOW(),
      NOW(),
      NOW(),
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.efbiz.product.inventory.model.PhysicalInventoryExample" resultType="java.lang.Long">
    select count(*) from physical_inventory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update physical_inventory
    <set>
      <if test="record.physicalInventoryId != null">
        PHYSICAL_INVENTORY_ID = #{record.physicalInventoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.physicalInventoryDate != null">
        PHYSICAL_INVENTORY_DATE = #{record.physicalInventoryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.partyId != null">
        PARTY_ID = #{record.partyId,jdbcType=VARCHAR},
      </if>
      <if test="record.generalComments != null">
        GENERAL_COMMENTS = #{record.generalComments,jdbcType=VARCHAR},
      </if>
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update physical_inventory
    set PHYSICAL_INVENTORY_ID = #{record.physicalInventoryId,jdbcType=VARCHAR},
      PHYSICAL_INVENTORY_DATE = #{record.physicalInventoryDate,jdbcType=TIMESTAMP},
      PARTY_ID = #{record.partyId,jdbcType=VARCHAR},
      GENERAL_COMMENTS = #{record.generalComments,jdbcType=VARCHAR},
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.efbiz.product.inventory.model.PhysicalInventory">
    update physical_inventory
    <set>
      <if test="physicalInventoryDate != null">
        PHYSICAL_INVENTORY_DATE = #{physicalInventoryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="partyId != null">
        PARTY_ID = #{partyId,jdbcType=VARCHAR},
      </if>
      <if test="generalComments != null">
        GENERAL_COMMENTS = #{generalComments,jdbcType=VARCHAR},
      </if>
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    </set>
    where PHYSICAL_INVENTORY_ID = #{physicalInventoryId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.efbiz.product.inventory.model.PhysicalInventory">
    update physical_inventory
    set PHYSICAL_INVENTORY_DATE = #{physicalInventoryDate,jdbcType=TIMESTAMP},
      PARTY_ID = #{partyId,jdbcType=VARCHAR},
      GENERAL_COMMENTS = #{generalComments,jdbcType=VARCHAR},
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    where PHYSICAL_INVENTORY_ID = #{physicalInventoryId,jdbcType=VARCHAR}
  </update>
</mapper>