<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.efbiz.product.product.dao.ProductKeywordMapper">
  <resultMap id="BaseResultMap" type="org.efbiz.product.product.model.ProductKeyword">
    <id column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <id column="KEYWORD" jdbcType="VARCHAR" property="keyword" />
    <result column="RELEVANCY_WEIGHT" jdbcType="DECIMAL" property="relevancyWeight" />
    <result column="LAST_UPDATED_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedStamp" />
    <result column="LAST_UPDATED_TX_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedTxStamp" />
    <result column="CREATED_STAMP" jdbcType="TIMESTAMP" property="createdStamp" />
    <result column="CREATED_TX_STAMP" jdbcType="TIMESTAMP" property="createdTxStamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PRODUCT_ID, KEYWORD, RELEVANCY_WEIGHT, LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, 
    CREATED_STAMP, CREATED_TX_STAMP
  </sql>
  <select id="selectByExample" parameterType="org.efbiz.product.product.model.ProductKeywordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from product_keyword
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0">
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="org.efbiz.product.product.model.ProductKeywordKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_keyword
    where PRODUCT_ID = #{productId,jdbcType=VARCHAR}
      and KEYWORD = #{keyword,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="org.efbiz.product.product.model.ProductKeywordKey">
    delete from product_keyword
    where PRODUCT_ID = #{productId,jdbcType=VARCHAR}
      and KEYWORD = #{keyword,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.efbiz.product.product.model.ProductKeywordExample">
    delete from product_keyword
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.efbiz.product.product.model.ProductKeyword">
    insert into product_keyword (PRODUCT_ID, KEYWORD, RELEVANCY_WEIGHT, 
      LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, CREATED_STAMP, CREATED_TX_STAMP)
    values (#{productId,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, #{relevancyWeight,jdbcType=DECIMAL}, 
      NOW(), NOW(), NOW(), NOW())
  </insert>
  <insert id="insertSelective" parameterType="org.efbiz.product.product.model.ProductKeyword">
    insert into product_keyword
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="keyword != null">
        KEYWORD,
      </if>
      <if test="relevancyWeight != null">
        RELEVANCY_WEIGHT,
      </if>
      LAST_UPDATED_STAMP,
      LAST_UPDATED_TX_STAMP,
      CREATED_STAMP,
      CREATED_TX_STAMP,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="relevancyWeight != null">
        #{relevancyWeight,jdbcType=DECIMAL},
      </if>
      NOW(),
      NOW(),
      NOW(),
      NOW(),
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.efbiz.product.product.model.ProductKeywordExample" resultType="java.lang.Long">
    select count(*) from product_keyword
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product_keyword
    <set>
      <if test="record.productId != null">
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.keyword != null">
        KEYWORD = #{record.keyword,jdbcType=VARCHAR},
      </if>
      <if test="record.relevancyWeight != null">
        RELEVANCY_WEIGHT = #{record.relevancyWeight,jdbcType=DECIMAL},
      </if>
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product_keyword
    set PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      KEYWORD = #{record.keyword,jdbcType=VARCHAR},
      RELEVANCY_WEIGHT = #{record.relevancyWeight,jdbcType=DECIMAL},
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.efbiz.product.product.model.ProductKeyword">
    update product_keyword
    <set>
      <if test="relevancyWeight != null">
        RELEVANCY_WEIGHT = #{relevancyWeight,jdbcType=DECIMAL},
      </if>
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    </set>
    where PRODUCT_ID = #{productId,jdbcType=VARCHAR}
      and KEYWORD = #{keyword,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.efbiz.product.product.model.ProductKeyword">
    update product_keyword
    set RELEVANCY_WEIGHT = #{relevancyWeight,jdbcType=DECIMAL},
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    where PRODUCT_ID = #{productId,jdbcType=VARCHAR}
      and KEYWORD = #{keyword,jdbcType=VARCHAR}
  </update>
</mapper>