<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.efbiz.product.facility.dao.FacilityGroupMemberMapper">
  <resultMap id="BaseResultMap" type="org.efbiz.product.facility.model.FacilityGroupMember">
    <id column="FACILITY_ID" jdbcType="VARCHAR" property="facilityId" />
    <id column="FACILITY_GROUP_ID" jdbcType="VARCHAR" property="facilityGroupId" />
    <id column="FROM_DATE" jdbcType="TIMESTAMP" property="fromDate" />
    <result column="THRU_DATE" jdbcType="TIMESTAMP" property="thruDate" />
    <result column="SEQUENCE_NUM" jdbcType="DECIMAL" property="sequenceNum" />
    <result column="LAST_UPDATED_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedStamp" />
    <result column="LAST_UPDATED_TX_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedTxStamp" />
    <result column="CREATED_STAMP" jdbcType="TIMESTAMP" property="createdStamp" />
    <result column="CREATED_TX_STAMP" jdbcType="TIMESTAMP" property="createdTxStamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    FACILITY_ID, FACILITY_GROUP_ID, FROM_DATE, THRU_DATE, SEQUENCE_NUM, LAST_UPDATED_STAMP, 
    LAST_UPDATED_TX_STAMP, CREATED_STAMP, CREATED_TX_STAMP
  </sql>
  <select id="selectByExample" parameterType="org.efbiz.product.facility.model.FacilityGroupMemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from facility_group_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0">
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="org.efbiz.product.facility.model.FacilityGroupMemberKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from facility_group_member
    where FACILITY_ID = #{facilityId,jdbcType=VARCHAR}
      and FACILITY_GROUP_ID = #{facilityGroupId,jdbcType=VARCHAR}
      and FROM_DATE = #{fromDate,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="org.efbiz.product.facility.model.FacilityGroupMemberKey">
    delete from facility_group_member
    where FACILITY_ID = #{facilityId,jdbcType=VARCHAR}
      and FACILITY_GROUP_ID = #{facilityGroupId,jdbcType=VARCHAR}
      and FROM_DATE = #{fromDate,jdbcType=TIMESTAMP}
  </delete>
  <delete id="deleteByExample" parameterType="org.efbiz.product.facility.model.FacilityGroupMemberExample">
    delete from facility_group_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.efbiz.product.facility.model.FacilityGroupMember">
    insert into facility_group_member (FACILITY_ID, FACILITY_GROUP_ID, FROM_DATE, 
      THRU_DATE, SEQUENCE_NUM, LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, 
      CREATED_STAMP, CREATED_TX_STAMP)
    values (#{facilityId,jdbcType=VARCHAR}, #{facilityGroupId,jdbcType=VARCHAR}, #{fromDate,jdbcType=TIMESTAMP}, 
      #{thruDate,jdbcType=TIMESTAMP}, #{sequenceNum,jdbcType=DECIMAL}, NOW(), NOW(), 
      NOW(), NOW())
  </insert>
  <insert id="insertSelective" parameterType="org.efbiz.product.facility.model.FacilityGroupMember">
    insert into facility_group_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="facilityId != null">
        FACILITY_ID,
      </if>
      <if test="facilityGroupId != null">
        FACILITY_GROUP_ID,
      </if>
      <if test="fromDate != null">
        FROM_DATE,
      </if>
      <if test="thruDate != null">
        THRU_DATE,
      </if>
      <if test="sequenceNum != null">
        SEQUENCE_NUM,
      </if>
      LAST_UPDATED_STAMP,
      LAST_UPDATED_TX_STAMP,
      CREATED_STAMP,
      CREATED_TX_STAMP,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="facilityId != null">
        #{facilityId,jdbcType=VARCHAR},
      </if>
      <if test="facilityGroupId != null">
        #{facilityGroupId,jdbcType=VARCHAR},
      </if>
      <if test="fromDate != null">
        #{fromDate,jdbcType=TIMESTAMP},
      </if>
      <if test="thruDate != null">
        #{thruDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sequenceNum != null">
        #{sequenceNum,jdbcType=DECIMAL},
      </if>
      NOW(),
      NOW(),
      NOW(),
      NOW(),
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.efbiz.product.facility.model.FacilityGroupMemberExample" resultType="java.lang.Long">
    select count(*) from facility_group_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update facility_group_member
    <set>
      <if test="record.facilityId != null">
        FACILITY_ID = #{record.facilityId,jdbcType=VARCHAR},
      </if>
      <if test="record.facilityGroupId != null">
        FACILITY_GROUP_ID = #{record.facilityGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.fromDate != null">
        FROM_DATE = #{record.fromDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.thruDate != null">
        THRU_DATE = #{record.thruDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sequenceNum != null">
        SEQUENCE_NUM = #{record.sequenceNum,jdbcType=DECIMAL},
      </if>
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update facility_group_member
    set FACILITY_ID = #{record.facilityId,jdbcType=VARCHAR},
      FACILITY_GROUP_ID = #{record.facilityGroupId,jdbcType=VARCHAR},
      FROM_DATE = #{record.fromDate,jdbcType=TIMESTAMP},
      THRU_DATE = #{record.thruDate,jdbcType=TIMESTAMP},
      SEQUENCE_NUM = #{record.sequenceNum,jdbcType=DECIMAL},
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.efbiz.product.facility.model.FacilityGroupMember">
    update facility_group_member
    <set>
      <if test="thruDate != null">
        THRU_DATE = #{thruDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sequenceNum != null">
        SEQUENCE_NUM = #{sequenceNum,jdbcType=DECIMAL},
      </if>
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    </set>
    where FACILITY_ID = #{facilityId,jdbcType=VARCHAR}
      and FACILITY_GROUP_ID = #{facilityGroupId,jdbcType=VARCHAR}
      and FROM_DATE = #{fromDate,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.efbiz.product.facility.model.FacilityGroupMember">
    update facility_group_member
    set THRU_DATE = #{thruDate,jdbcType=TIMESTAMP},
      SEQUENCE_NUM = #{sequenceNum,jdbcType=DECIMAL},
      LAST_UPDATED_STAMP =  NOW() ,
      LAST_UPDATED_TX_STAMP =  NOW() ,
    where FACILITY_ID = #{facilityId,jdbcType=VARCHAR}
      and FACILITY_GROUP_ID = #{facilityGroupId,jdbcType=VARCHAR}
      and FROM_DATE = #{fromDate,jdbcType=TIMESTAMP}
  </update>
</mapper>